.activeComponent{
   background-color:  rgb(255, 135, 79);
    color: rgb(255, 255, 255);
}
 .mobile-nav-links li{
   padding-left:10px ;
    width: 20vh;
}
 .mobile-nav-user  li{
   padding-left:10px ;
    width: 20vh;
}